@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      max-width: 1200px;
      /*Sets the margins: upper-bottom left-right*/
      margin: 20px auto;
      /*Sets the paddings: upper-bottom left-right*/
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
    }
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      margin-left: auto; 
      margin-right: 0;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 1;
      overflow-y: auto;
    }
    .dropdown-content input {
      border: none;
      background-color: rgb(240, 240, 240, 0.6);
      cursor: pointer;
      opacity: 0.85;
      width: 100%;
    }
    .dropdown-content input:hover {
      background-color: rgb(240, 240, 240, 0.8);
      opacity: 1;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .blogs a:hover h3{
      color: crimson;
    }

    /* details styles */
    .details{
      position: relative;
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }
    
    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    .create-blog textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }
    .create-user form{
      max-width: 400px;
      margin: 0 auto;
      display: grid;
    }
    .create-user label{
      margin-top: 6px;
    }
    .create-user button{
      margin-top: 24px;
      padding: 6px;
      font-size: 1.2em;
      cursor: pointer;
    }
    .login-user form{
      max-width: 400px;
      margin: 0 auto;
      display: grid;
    }
    .login-user label{
      margin-top: 6px;
    }
    .login-user button{
      margin-top: 24px;
      padding: 6px;
      font-size: 1.2em;
      cursor: pointer;
    }