<html lang="en">
<%- include("../partials/head.ejs") %>

<body style="text-align: center;">
    <%- include("../partials/nav_user_create.ejs") %>
    Account created successfully.
    <br>
    <br>
    Redirecting to Homepage...

    <%- include("../partials/footer.ejs") %>

    <script>
        // Tells the browser to wait 5 seconds before redirecting to the Homepage
        setTimeout(() => {location.replace("/")}, 5000)
    </script>
</body>
</html>